.project{
    width: 100%;
    padding-top: 15%;
}
.back{
    width: 100%;
    background-color: #f4f4f4;
    height: 55vh;
    margin-bottom: 15vh;
}
.box-projects{
    width: 700px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top:-50px;

}
.card-p{
    width: 200px;
    flex-grow: 1;
    background-color: white;
    height: 130px;
    margin: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    transition: all 1s ease;
}
.size{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.uno {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Faf69cf73908185.5c19793262ca8.png?alt=media&token=4101941b-c403-4857-9b62-c50a13d5ae4f');
}
.dos{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCaptura%20de%20pantalla%202019-03-24%20a%20la(s)%2020.15.47.png?alt=media&token=0be620ba-2e3a-4b5a-b68e-8287be7d0acb');
}
.tres{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCaptura%20de%20pantalla%202019-03-24%20a%20la(s)%2020.15.59.png?alt=media&token=ce0244e2-ce70-4637-87ba-f15942f188fc');
}
.cuatro{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCaptura%20de%20pantalla%202019-03-24%20a%20la(s)%2020.16.45.png?alt=media&token=f16f6cdb-40b3-4e17-9970-412d480685b2');
}
.cinco{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FGroup.png?alt=media&token=e79d81df-b432-4c6c-86f8-f7fa0c104def');
}
.seis{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCAPPP.png?alt=media&token=c39b318a-58b0-424e-b5c7-eb8704b71b65');
}
.siete{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCaptura%20de%20pantalla%202019-03-24%20a%20la(s)%2020.22.09.png?alt=media&token=0d1bbf20-6853-4471-8e9b-87d5866b3db1');
}

.ocho{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCaptura%20de%20pantalla%202019-03-24%20a%20la(s)%2020.22.09.png?alt=media&token=0d1bbf20-6853-4471-8e9b-87d5866b3db1');
}
.nueve{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCap.png?alt=media&token=f7e1fd26-8b37-4295-a21e-beb053582092');
}
.diez{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Faecf0a69379411.5b7ee583a6ff7.png?alt=media&token=36f1ac6c-e167-43f8-b84b-a95a992870f6');
}
.once{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FGroup.png?alt=media&token=e79d81df-b432-4c6c-86f8-f7fa0c104def');
}
.doce{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FGroup.png?alt=media&token=e79d81df-b432-4c6c-86f8-f7fa0c104def');
}
.trece{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F95319469094357.5b7dffae8b541.png?alt=media&token=23773a37-abdf-45ab-a190-061233762655');
}
.catorce{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fe07b2769094357.5b745d2119ec2.png?alt=media&token=fe5b722d-5f39-4bb3-947e-1380855341a2');

}
.quince{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fe07b2769094357.5b745d2119ec2.png?alt=media&token=fe5b722d-5f39-4bb3-947e-1380855341a2');
}
.dizseis{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F392b5b69094357.5b745d208d556.png?alt=media&token=3c378602-340d-4f88-b41b-0881822c45d8');
}
.dizsiete{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F66f6d069094357.5b745d208e0ae.png?alt=media&token=2442e5cb-14c7-4c8b-9d15-62d869a0f4ac');

}
.dizocho{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fb9ec2f69094357.5b745d208e7b2.png?alt=media&token=ab1173d8-9b55-47fb-9059-509e02448ee7');
}
.diznueve{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F1ccff169094357.5b745d208d021.png?alt=media&token=03ae72b2-73a0-4aa6-aaed-e6ea9ab891d5');
}
.veinte{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Ffdafdf69094357.5b745d208c064.png?alt=media&token=ccae1820-7a0d-4b59-a166-486cb3153629');
}
.vuno{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fabf97769094357.5b7e16b983fb7.png?alt=media&token=543d48fb-373c-4db9-aa4e-d6df2b39f0d5');

}
.vdos{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F2b621f69094333.5b7df64ea4626.png?alt=media&token=2e6ea6fa-232f-4ea5-a463-a3035d99b89f');

}
.vtres{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F19725169094333.5b7dedb34eff9.png?alt=media&token=00d99bba-ad90-4efd-a306-11115481a08eg');

}
.vcuatro{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F71f6b269094333.5b745cfd53b46.png?alt=media&token=d1f68d1c-f3bb-4a4f-953c-a55195d54628');
}
.vcinco{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fcb630569094333.5b745cfd54ca6.png?alt=media&token=ee2e3c6c-52d2-4fa7-9478-3f79be719989');
}
.vseis{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FGroupfire.png?alt=media&token=a574e81e-db23-4d43-80d5-c34ce9509d6a');
}
.vsiete{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F49ef6469094333.5b745cfd5437f.png?alt=media&token=a037c9db-8af8-4524-b769-559cee2d7fd9');
}
.vocho{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F32d9ef69094333.5b7df64ea4be1.png?alt=media&token=4e3d7b67-7400-4006-aeb8-9809b8bf7b54');
}
.vnueve{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCapp%20a%20la(s)%2021.59.22.png?alt=media&token=b51268b4-58f9-4d5a-a997-8f97adb53d8e');
}
.treinta{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FCapp%20a%20la(s)%2021.59.22.png?alt=media&token=b51268b4-58f9-4d5a-a997-8f97adb53d8e');
}
.card-p:hover{
    box-shadow: 0 5px 15px rgba(0,0.3,0.3,0.1);
    cursor: pointer;
}
.box-text{
    width: 300px;
    flex-grow: 1;
    padding: 2% 5%;
    box-sizing: border-box;
}
.box-text h2{
    color:#414141;
    font-weight: bolder;
}
@media(max-width: 768px){
    .back{
        height: auto;
    }
    .box-projects{
        top:50px;
    }
}
