.nosotros{
    width: 100%;
    height: 50vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FbgImage6.png?alt=media&token=2e6a47d3-f6bb-4eea-b8c0-5f7acfebfd39");
    background-size: cover;
    background-position: top;

}
.nosotros a{
    color: inherit !important;
    text-decoration: none !important;

}
.ns{
    width: 80%;
    margin: 100px auto;
}

.fl-team{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.box_team{
    width: 250px;
    flex-grow: 1;
    margin: 20px;
    text-align: center;
}
.box_team h4{
    margin-top: 16px;
}
.circle{
    width:150px ;
    height: 150px;
    border-radius: 75px;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
}
.box_team span{
    margin: 5px;
    cursor: pointer;
    transition: all 1s ease;
    color: #666666;
}
.box_team span:hover{
    color: #f79b36;
}

.clientes{
    filter: grayscale(100%);
    opacity: .8;
    justify-content: space-between;
    margin: 50px 0;
}
.clientes img{
    height: 80px;
}
.brenda{
    filter: grayscale(90%);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F21105859_1384283821667002_3656915529923068437_n.jpg?alt=media&token=1c281b37-6452-4815-b5a9-463df9356679");
    transition: all 1s ease;
}

.brenda:hover, .bliss:hover, .oscar:hover, .david:hover, .os:hover{
    filter: grayscale(0%);
    cursor: pointer;

}
.bliss{
    filter: grayscale(90%);
    transition: all 1s ease;

    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F67460673_10220365825273658_6972567135163777024_n.jpg?alt=media&token=9672fbc1-486a-4f93-b345-1f404c86b7c7");
}
.oscar{
    transition: all 1s ease;

    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F67768016_889846204730261_5457655582007754752_o.jpg?alt=media&token=e4cf2486-742d-4f80-bc92-117bba3d7e81");
}
.david{
    transition: all 1s ease;
    filter: grayscale(90%);

    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F50226136_2192976174151067_1003654992885710848_o.jpg?alt=media&token=4d1f4e5a-aa3c-4ba1-a86f-c572982ed130");
}
.os{
    transition: all 1s ease;

    filter: grayscale(90%);

    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F71709457_2692248594119955_8294609131738759168_o.jpg?alt=media&token=289ad376-75dd-457d-b471-91c569f1e1f2");
}
.nn{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

@media(max-width: 768px){
    .nn{
        display: none;
    }
}

