.nosotros{
    width: 100%;
    height: 50vh;
    background-image: url("../../assets/bgImage6.png");
    background-size: cover;
    background-position: top;

}
.nosotros a{
    color: inherit !important;
    text-decoration: none !important;

}
.ns{
    width: 80%;
    margin: 100px auto;
}

.fl-team{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.box_team{
    width: 250px;
    flex-grow: 1;
    margin: 20px;
    text-align: center;
}
.circle{
    width:150px ;
    height: 150px;
    border-radius: 75px;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
}
.box_team span{
    margin: 5px;
    cursor: pointer;
    transition: all 1s ease;
    color: #666666;
}
.box_team span:hover{
    color: #f79b36;
}

.clientes{
    filter: grayscale(100%);
    opacity: .8;
    justify-content: space-between;
    margin: 50px 0;
}
.clientes img{
    height: 80px;
}
.brenda{
    filter: grayscale(90%);
    background-image: url("https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/21105859_1384283821667002_3656915529923068437_n.jpg?_nc_cat=104&_nc_oc=AQlkrfNO72f5OZ34wYplNke2GU0Z4JHLZpdgwVneDMQZtoQ5C7VG1OkR51r73QKzoqQ&_nc_ht=scontent.fmex6-1.fna&oh=b32565b892ef076ed3d26ca4310f6977&oe=5DA3B5DD");
    transition: all 1s ease;
}

.brenda:hover, .bliss:hover, .oscar:hover, .david:hover, .os:hover{
    filter: grayscale(0%);
    cursor: pointer;

}
.bliss{
    filter: grayscale(90%);
    transition: all 1s ease;

    background-image: url("https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/56414061_10219388463320220_4036709091425386496_o.jpg?_nc_cat=110&_nc_oc=AQkJfx-1n0aUvE43IQ-icMOSskuYgsG8wHR7IPx5gZr9q57JC3MKEGUnRstsdUterzM&_nc_ht=scontent.fmex6-1.fna&oh=b277c35aa12898ed8db33b4a99a8b25c&oe=5DB43192");
}
.oscar{
    transition: all 1s ease;

    background-image: url("https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/42929645_699409803773903_2563934861114998784_o.jpg?_nc_cat=100&_nc_oc=AQn1MuXJyi0hg5r4PeAjznawoskpMnHPpUZz5KlDqiw9iWVidjMhdbhKETumAlHWW-I&_nc_ht=scontent.fmex6-1.fna&oh=9ef235390b42f779cbbf62371cd1dd80&oe=5DA09C1C");
}
.david{
    transition: all 1s ease;

    background-image: url("https://scontent.fmex6-1.fna.fbcdn.net/v/t31.0-8/15844363_1325158800932813_5987274311608809372_o.jpg?_nc_cat=111&_nc_oc=AQlUrRJgnQohXHDdsBuRIo5jDZ6qMRRRaoUBt9yf_nCgcnT-YzUMpMlZMfTvLS6mwas&_nc_ht=scontent.fmex6-1.fna&oh=dfab6940577096461e25318a313fcd08&oe=5DA0322D");
}
.os{
    transition: all 1s ease;

    filter: grayscale(90%);

    background-image: url("https://scontent.fmex6-1.fna.fbcdn.net/v/t31.0-8/18891870_1543998225611670_8032322982945740932_o.jpg?_nc_cat=103&_nc_oc=AQkKP5WRf-PE9vW-YioNJTke1qihf6OnPdzevesxpInu7QRTHPw0QHsCdhQhwTlIiXs&_nc_ht=scontent.fmex6-1.fna&oh=de833052dbc2a7cd1b329ffe94fb6fd6&oe=5DB76405");
}
.nn{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

@media(max-width: 768px){
    .nn{
        display: none;
    }
}

