.servicios{
    width: 100%;
    height: 50vh;
    background-image: url("https://images.pexels.com/photos/1181395/pexels-photo-1181395.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;

}
.general-description{
    padding: 120px 10%;
    display: flex;
    flex-wrap: wrap;
}
.general-description div{
    width: 50%;
}
.box-img-general img{
    width: 70% !important;
    margin-left: 15%
}
.services-box{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
}
.cortina{
    width: 4000px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/374831/pexels-photo-374831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}
.slide-services{
    margin-left: -220px;
}
.slide-services img{
    width: 100px;
}
.card-service{
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 5%;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    color:#666666;
}
.card-service h3{
    color: initial !important;
}

.invite{
    padding: 80px 10%;
    text-align: center;

}
.desk{
    display: initial;
}
.mov{
    display: none;
}

@media (max-width: 500px) {
    .general-description div{
        width: 100%;
    }
    .cortina{
        display: none;
    }

    .uk-slider-items{
        width: 90% !important;
    }
    .uk-active{
        width: 320px !important;
    }
    .card-service{
        height: 600px;
    }
    .desk{
        display: none;
    }
    .mov{
        background-color: #f4f4f4;
        display: flex;
        flex-wrap: wrap;
        padding:24px 0;
    }
    .card-service{
        width: 90%;
        margin: 32px auto;
        height: 500px;
    }
    .card-service h3{
        margin-top: 40px;
    }
    .card-service img{
        height: 80px;
    }
    .servicios{
        height: 24vh;
    }
    .general-description{
        padding: 32px 10%;
    }
}