/*SLIDE*/
body{

}

.portada{
    width: 100%;
    height: 100vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fslide.png?alt=media&token=636cf69d-4351-4932-9d73-9d4492fb5b3c");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box-slogan{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 48px;
    padding-left: 40px;
    color:#414141;
    padding-top: 30px;
}
.box-slogan h2{
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: bolder;
}

.btn-c{
    background-color: #f79b36;
    width: 180px;
    height: 50px;
    border: none;
    color:white;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 16px auto;
    font-family: 'OpenSansBold', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #d87509;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;

}

.btn-c:hover{
    box-shadow: inset 0 -70px 0 0 #d87509;
}


/*
ABOUT*/

.about{
    width: 70%;
    margin: 100px auto;
    text-align: center;
}
.about h2, .services h2{
    font-size: 32px;
    color:#414141;
}
.about p{
    font-size: 24px;
    color:#777;
}
.info{
    color: #f79b36;
    font-weight: bold;
    cursor:pointer;
}

/*
SERVICIOS*/

.services{
    width: 100%;
    height:auto;
    min-height: 650px;
    background-color: #f4f4f4;

}

.services-img{
    width: 300px;
    min-height: 650px;
    flex-grow: 1;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fpexels-photo-1181547.jpeg?alt=media&token=07e53141-83df-44be-9d11-b9cc0c74c7fb");
    background-size: cover;
    background-position: center;
}
.services-text{
    flex-grow: 2;
    width: 400px;
    height: auto;
    padding: 2% 5%;
    box-sizing: border-box;
}


.services p{
    font-size: 18px;
    color:#4A4A4A;
}
.service{
    width: 300px;
    flex-grow: 1;
    margin: 10px 0;
}
.service img{
    width: 50px;
}
.service p{
    font-size: 16px;
    margin-top: 0;
    color:#4A4A4A;

}
.service h3{
    font-size: 18px;
    margin-bottom: 2px;
    color:#414141;
    font-weight: bolder;

}


/*
PROJECTS*/

.projects{
    width: 80%;
    margin: 100px auto;
}
.projects h2{
    font-size: 32px;
    color:#414141;
    text-align: center;
}

.projects-fl{
    display: flex;
    flex-wrap: wrap;
}

.arango{
    width: 300px;
    flex-grow: 8;
    height: 250px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F4171c073908185.5c197932630de.png?alt=media&token=cd1efb0d-b35f-44d1-8a9f-bd52203cfbf4");
    background-size: cover;
    background-position: center;
    margin: 5px;
    cursor: pointer;
}

.allende{
    width: 300px;
    flex-grow: 1;
    height: 250px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Faecf0a69379411.5b7ee583a6ff7.png?alt=media&token=36f1ac6c-e167-43f8-b84b-a95a992870f6");
    background-size: cover;
    background-position: center;
    margin: 5px;
    cursor: pointer;
}

.concamin{
    width: 300px;
    flex-grow: 2;
    height: 250px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F95319469094357.5b7dffae8b541%20(1).png?alt=media&token=fdaa1f28-2305-4da9-8a61-a1a1a844cba8");
    background-size: cover;
    background-position: center;
    margin: 5px;
    cursor: pointer;
}
.blog{
    width: 300px;
    flex-grow: 6;
    height: 250px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FScreen%20Shot%202019-11-24%20at%203.30.48%20PM.png?alt=media&token=1b8bc959-b7ed-42b7-9f81-87f56744cb41");
    background-size: cover;
    background-position: center;
    margin: 5px;
    cursor: pointer;
}
.firebase{
    width: 300px;
    flex-grow: 4;
    height: 250px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2F2b621f69094333.5b7df64ea4626.png?alt=media&token=2e6ea6fa-232f-4ea5-a463-a3035d99b89f");
    background-size: cover;
    background-position: center;
    margin: 5px;
    cursor: pointer;
}
.artesanias{
    width: 300px;
    flex-grow: 1;
    height: 250px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2FScreen%20Shot%202019-11-24%20at%203.33.13%20PM.png?alt=media&token=58f2c9db-3f56-4030-9415-ce4777bffcee");
    background-size: cover;
    background-position: center;
    margin: 5px;
    cursor: pointer;
}
.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    align-items: center;
    justify-content: center;
    color:white;
    display: flex;
    text-align: center;
   opacity: 0;
    transition: all 1s ease;

}
.cover h3{
    color: white;
}

.cover:hover{

       opacity: 1;

}


/*
BANNER
*/

.banner{
    width: 100%;
    height: 400px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fpexels-photo-3810790.jpeg?alt=media&token=6b832875-2986-47b6-bb2a-a1379cfee2db");
    background-size: cover;
    background-position: bottom;
}
.banner h3{
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0;
    color: white;
}
.banner p{
    font-size: 18px;

}
.cover-orange{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 0 10%;
    box-sizing: border-box;
}

/*
GROWTH*/

.growth{
    width: 80%;
    margin: 100px auto;
    text-align: center;

}
.medios{
    filter: grayscale(90%);
    display: flex;
    flex-wrap: wrap;
    opacity: .5;
    justify-content: space-between;
    margin-top: 50px;
}
.medios a{
    width: 200px;
    flex-grow: 1;
    height: auto;

}
.img{
    width: 200px;

}

.tp{
    width: 200px;
    flex-grow: 1;
}
.movil{
    filter: grayscale(90%);
    display: none;
}


@media (min-width: 1450px) {
    .arango, .allende, .concamin, .artesanias {
        width: 400px;
    }

    .blog, .firebase {
        width: 400px;
    }

    .service {
        width: 400px;
    }

    .card-p {
        width: 270px !important;
    }
}
@media (max-width: 1450px) {

    .card-p {
        width: 200px !important;
    }
}
@media(max-width: 768px) {
    .web{
        display: none;
    }
    .movil{
        display: inherit;
    }
    .services-img{
        min-height: 900px;
    }
    .box-slogan h2{
        font-size: 50px;
    }
}

@media(max-width: 435px){
    .box-text{
        margin-top: 80px;
    }
    .box-slogan h2{
        font-size: 40px;
    }
    .about{
        width: 90%;
        margin: 50px auto;
    }
    .services-img{
        min-height: 200px;
        height: 100%;
    }
    .banner h3{
        font-size: 24px;
    }
    .services-text{
        text-align: center;
    }

    .img{
        border-right: none;
        border-bottom: none;
     }

}

