.reasons{
    width: 100%;
    padding: 80px 10%;
    box-sizing: border-box;
}
.reasonsBox{
    display: flex;
    justify-content: space-between;

}
.reasonsBox h3{
    font-size: 36px;
    color: #212121;
    font-weight: bolder;
}
.reasonsBox div{
    width: 300px;
    flex-grow: 1;
    margin: 0 16px 0;
}
.reasonsBox img{
    width: 80px;
    height: 80px;
}
.reasonsBox div h4{
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 800;
}
.reasonsBox div p{
    margin-top: 8px;
}
.cta{
    padding: 120px 0 40px 0;
    text-align: center;
    cursor: pointer;
}
.cta h2{
    color:#F2994A;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 48px;
}
.cta img{
    width: 360px;
    height: auto;
}



@media(max-width: 1400px){
    .reasons{
        padding: 80px 5%;
    }
  
}

@media(max-width: 960px){
    .reasons{
        width: 100%;
        padding: 40px 5%;
    }
    .reasonsBox{
        flex-wrap: wrap;
    }
    .reasonsBox div{
        width: 300px;
        flex-grow: 1;
    }
}
@media(max-width: 700px){
    .reasonsBox h3{
        font-size: 24px;
    }
    .reasons{
        text-align: center;
    }
    .cta img{
        width: 240px;
        height: auto;
    }
}