.contacto{
    width: 100%;
    height: 50vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/camp-92fe8.appspot.com/o/-Kzorqdwn3S9Ecl7LZB6%2Fpexels-photo-1038674.jpeg?alt=media&token=f3da41b8-1b88-4679-9c5c-3d7e5f6ce242");
    background-size: cover;
    background-position: top;

}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;

}
.map{
    width: 300px;
    flex-grow: 1;
}
.map iframe{
    width: 100%;
    height: 350px;
}
.form{
    width: 300px;
    flex-grow: 1;
    padding: 0 0 0 5%;
    box-sizing: border-box;
}
.inp input, .form textarea{
    width: 100%;
    height: 40px;
    border: none;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}
.inp{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0px 0 20px 0;

}
.inp i{
    width: 60px;

}
.inp textarea{
    padding-top: 20px;
    font-family: Arial;
}
.checkbox{
    font-size: 14px;
    margin: 10px 5px;
}
@media(max-width: 435px){
    .map iframe{
        width: 100%;
    }
    .map{
        padding: 0%;
    }
    .form{
        padding: 0%;

        margin-top: 30px;
    }
}