@import "./components/home/Home.css";

@font-face {
    font-family: "Avenir Book";
    src: url("./2022/assets/AvenirLTStd-Book.otf") format("otf"),
  }
@font-face {
    font-family: "Avenir Bold";
    src: url("./2022/assets/AvenirLTStd-Black.otf") format("otf"),
}

body h2, h3, h4, p, label{
  font-family: Arial;
}

body h2, h3, h4, p, label{
  font-family: "Avenir Book";
}
p{
  color:#666666;
}